# ignore the following for composer archive
/.github export-ignore
/cmd export-ignore
/internal export-ignore
/dist export-ignore
/resources export-ignore
.gitattributes export-ignore
.gitignore export-ignore
go.mod export-ignore
go.sum export-ignore
Makefile export-ignore
gon.hcl export-ignore
.goreleaser.yml export-ignore

# Auto detect text files and perform LF normalization
* text=auto