[Unit]
Description=nitrod-api
Documentation=https://getnitro.sh
Wants=network-pre.target
After=network-pre.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
ExecStart=/usr/sbin/nitrod
Restart=on-failure
User=root
MemoryMax=512M

[Install]
WantedBy=multi-user.target
