{
    local_certs
    admin localhost:2019
}

example.nitro {
    rewrite * index.php?{query}&p={path}

    # TODO change this manually to get the ip address
    php_fastcgi * nitro-dev:9000 {
            root /app/web
            index index.php

            env SCRIPT_NAME index.php
            env SCRIPT_FILENAME /app/web/index.php
    }
}

:80 :443 {
    root * /var/www/html
    file_server

    respond /docs 200 {
        body "welcome to nitro!"
        close
    }
}

